.bold-header{
    color: green;
}

.top-container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.right-container{
    background-color: red;
}

.add-button{
    background-color: green;
    border: none;
    padding: 10px 20px 10px 20px;

}